<section>
  <div
    class="d-flex flex-column container-ht justify-content-center"
  >
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 col-md-10 mx-auto bg-white rounded shadow">
          <div class="row">
            <div class="col-md-6">
              <div class="m-5 text-center"><h1>Welcome Back!</h1></div>

              <form class="m-5" (submit)="onSubmit()">
                <div class="mb-3">
                  <label class="form-label" for="username">Username</label>
                  <input class="form-control" type="text" [(ngModel)]="loginForm.username" id="username"
                         name="username"/>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="password">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    [(ngModel)]="loginForm.password"
                    id="password"
                    name="password"
                  />
                </div>
                <div class="row mb-3">
                  <div class="col-6">
                    <div class="form-check text-start">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="remember-me"
                      />
                      <label class="form-check-label" for="remember-me"
                      >Remember Me</label
                      >
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="text-end">
                      <a href="#">Forgot Password?</a>
                    </div>
                  </div>
                </div>

                <div class="">
                  <input
                    type="submit"
                    class="form-control btn btn-primary mt-3"
                  />
                </div>
              </form>
              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <img
                  src="/assets/sign_in.svg"
                  alt="login"
                  class="img-fluid p-5"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
